/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

*::before,
*::after{
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

main {
    margin: 0 40px 0 40px;
}

h1 {
    font-weight: 700;
    font-size: 22px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/
header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

.logo-booki {
    width: 61px;
    height: 19px;
    margin-top: 20px;
    margin-bottom: 50px;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
    margin-left: 70px;
    color: black;
}

.menu::after {
    content:"";
    position: absolute;
    background-color: #0065FC;
    height: 3px;
    top: 0;
    width: 0%;
    left: 0;
    transition: 0.2s;
}

.menu:hover {
    color: #0065FC;
}

.menu:hover::after {
    width: 100%;

}

/****** Recherche ***********/
main .main-title {
    margin: 0;
    margin-bottom: 10px;
}

main .description {
    margin: 0;
    margin-bottom: 30px;
}

.rechercher {
    display: flex;
    height: 49px;
    margin-bottom: 20px;
}

.button-rechercher {
    font-weight: 700;
    font-size: 18px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}

.button-rechercher i {
    display: none;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--main-bg-color);
    width: 49px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
}

input {
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

/****** Filtres ***********/
.filtres {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.filtres li { 
    display: inline-block;
    border:2px #D9D9D9 solid;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.filtres ul {
    padding-left: 20px;
}

.filtres p {
    font-weight: 700;
}

.filtres li:hover {
    background-color: #DEEBFF;
}

.filtres li i {
    padding-right: 10px;
}




/****** informations ***********/
.informations {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border:1px #D9D9D9 solid;
    border-radius:50%;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 640px;
    margin-bottom: 40px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements a {
    width: 30%;
    margin-top: 33px;
}

.hebergements .card {
    width: 100%;
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 4px;
    margin-bottom: 4px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-bottom: 40px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    margin: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.activites-cards a {
    width: 23%;
}

.activites-cards .card {
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
}

.activites-cards h3 {
    margin-left: 20px;
    font-size: ;
}

/****** Footer ***********/
footer {
    display: flex;
    margin: 70px 40px 0 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: var(--main-bg-color);
}

.section-footer {
    width: 40%;
    margin-right: 10%;
}

.section-footer ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.section-footer li {
    margin-bottom: 5%;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards a {
        width: 100%;
        height: 300px;
    }

    .activites-cards img {
        height: 75%;
    }

    .activites-cards .card {
        width: 90%;
        height: 100%;
        justify-content: center;
    }

    .activites-cards h3 {
        height: 23%;
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: 20px;
        font-size: 16px;
        
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    main {
        margin: 0;
    }
    .main-container {
        padding: 0;
        margin: 0;
    }

    /* Header */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 115px; 
    }

    .logo-booki {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
        height: 50px;
        border-bottom: #D9D9D9 solid 2px;
    }

    .menu {
        margin: 0;
        width: 50%;
        justify-content: center;
    }
    
    .menu::after {
        bottom: 0;
        top: 100%;
    }

    /* Recherche */
    .main-title {
        padding: 20px 20px 0px 20px;
    }

    .description {
        padding-left: 20px
    }

    .rechercher {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }

    input {
        width: 80%;
    }

    .button-rechercher {
        width: 49px;
        height: 49px;
        border-radius: 15px;
    }

    .button-rechercher i {
        display: inline;
        color: white;
    }

    .button-rechercher span {
        display: none;
    }

    /* Filtres */
    
    .filtres { 
        display: flex;
        flex-direction: column;
    }

    .filtres p {
        width: 100%;
        font-weight: 700;
        font-size: 21px;
        padding: 0px 20px 0px 20px;
    }

    .filtres .picto-filtres {
        font-weight: 700;
    }

    .filtres ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
        margin: 0;
    }

    .filtres li {
        display: flex;
        align-items: center;
        width: 49%;
        padding: 10px 0px 10px 20px;
        margin: 0px 0px 20px 0px;
    }

    /* Informations */

    .informations {
        padding: 0px 20px 0px 20px;
    }

    .fa-info {
        width: 10%;
        height: 10%;
        padding: 5px;
    }

    /* Hebergements and populaires */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        background-color: transparent;
    }

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
    }

    .populaires .populaires-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .populaires {
        padding: 0;
        margin: 0;
    }
    
    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
        height: 150px;
    }

    .hebergements .hebergements-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hebergements {
        height: 100%;
        margin-bottom: 0;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
        height: 207px;
    }

    /* Activites */
    .activites .activites-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .activites-cards a {
        height: 100%;
    }

    .activites-cards .card {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .populaires .card img {
        height: 100%;
    }

    /* Footer */
    footer {
        flex-direction: column;
        margin: 0;
    }

    .section-footer {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .section-footer li {
        margin: 0;
        margin-bottom: 15px;
    }

}